In [1]:
set1 = {"a", "b", "c"}
set1.add("d")
set1

{'a', 'b', 'c', 'd'}

In [9]:
set2 = {"h", "i", "j"}
set3 = set1 | set2
set3

{'a', 'b', 'c', 'd', 'h', 'i', 'j'}

In [11]:
set1.update(set2)
set1

{'a', 'b', 'c', 'd', 'h', 'i', 'j'}

In [ ]:
def check_entry(student_name, student_list):
    if student_name in student_list:
        print("Entry Allowed")
    else:
        print("Entry Not Allowed")

registered_students = [
    "aman", "siya", "avantee", "rashmin", "sneha"
]

name = input("Enter student name: ")

check_entry(name, registered_students)

Entry Allowed

In [16]:
stu1_frnds = {"aman", "siya", "avantee"}
stu2_frnds = {"rashmin", "sneha", "avantee", "siya"}
common_frnds = stu1_frnds & stu2_frnds
common_frnds

{'avantee', 'siya'}

In [18]:
# make a code to login using username and password and send friend request to a friend
users = {
    "aman": "aman",
    "siya": "siya",
    "avantee": "avantee",
    "rashmin": "rashmin",
    "sneha": "sneha"
}
def login(username, password):
    if username in users and users[username] == password:
        print("Login Successful")
        return True
    else:
        print("Login Failed")
        return False
def send_friend_request(sender, receiver):
    if sender in users and receiver in users:
        print(f"Friend request sent from {sender} to {receiver}")
    else:
        print("Sender or receiver does not exist")
username = input("Enter username: ")
password = input("Enter password: ")
if login(username, password):
    friend_name = input("Enter the name of the friend you want to send a request to: ")
    send_friend_request(username, friend_name)

Login Successful
Friend request sent from rashmin to avantee

In [4]:
import pandas as pd
# read data from predict_energy_consumption.xls
data = pd.read_csv("predict_energy_consumption.csv")
data.head()

   temperature   humidity  wind_speed  solar_irradiance  energy_consumption
0    24.363503  31.107976    5.234114        705.432695          307.398145
1    38.767858  52.514057    4.939576        817.013257          412.444548
2    33.299849  72.376750   18.125092        325.421109          392.072418
3    29.966462  63.933493    4.990924        662.386690          119.254957
4    18.900466  68.393669    5.438995        614.571385          117.162261

In [5]:
data.describe()

,temperature,humidity,wind_speed,solar_irradiance,energy_consumption
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,27.256414,50.421038,10.048115,541.337543,272.347395
std,7.303434,17.531394,5.813484,257.840410,129.064474
min,15.115801,20.193096,0.000233,100.588052,50.013823
25%,20.899332,34.464456,5.227020,317.710693,160.238303
50%,27.420184,51.124034,10.012278,535.851355,272.569144
75%,33.607990,65.627903,15.182071,763.786729,382.997053
max,39.992942,79.964824,19.956417,999.601933,498.987225